@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  background-color: rgb(199, 212, 223);
  justify-content: center;
  align-items: center;
}
.container {
  background-color: aliceblue;
  max-width: 375px;
  margin: 10% auto;
  height: auto;
  padding: 20px 20px 50px 20px;
  border-radius: 20px;
}

img {
  border-radius: 20px;
  width: 98.5%;
  height: 60%;
}

.container h1 {
  margin: 8% 0 8% 0;
  text-align: center;
  font-size: 1.8rem;
  color: hsl(218, 44%, 22%);
}
.container p {
  text-align: center;
  padding: 0 8% 0 8%;
  font-size: 16px;
  color: hsl(220, 15%, 55%);
  word-spacing: 0.3rem;
}
